{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
