{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", ".mts"],
      "options": {
        "singleQuote": true,
        "semi": true,
        "trailingComma": "es5",
        "arrowParens": "always"
      }
    },
    {
      "files": ["*.js", "*.mjs"],
      "options": {
        "singleQuote": false,
        "semi": true,
        "trailingComma": "es5",
        "arrowParens": "always"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4,
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": [".prettierrc"],
      "options": {
        "parser": "json",
        "printWidth": 80,
        "tabWidth": 2
      }
    },
    {
      "files": [".vue"],
      "options": {
        "parser": "vue",
        "printWidth": 80,
        "singleQuote": true
      }
    }
  ]
}
